In [2]:
# AIG150 Midterm Test I 
# Max Marks 60
# Time Allowed: 60 Minutes

# Instructions

#	You are allowed to bring a reference sheet (A4-both sided).
#	Use font “Arial- size 10” minimium, print your name on top of the reference sheet.
#	The sheet must be submitted with the test.
#	As a Seneca student, you must conduct yourself in an honest and trustworthy manner in all aspects of your academic career.
#  Once you are done, upload the file on BB ( ONLY ONE SUBMISSION IS ALLOWED)

In [3]:
# Download the given csv file

In [4]:
import pandas as pd
stroke=pd.read_csv('stroke.csv')
print(stroke)

          id  gender   age  hypertension  heart_disease ever_married  \
0      30669    Male   3.0             0              0           No
1      30468    Male  58.0             1              0          Yes
2      16523  Female   8.0             0              0           No
3      56543  Female  70.0             0              0          Yes
4      46136    Male  14.0             0              0           No
...      ...     ...   ...           ...            ...          ...
43395  56196  Female  10.0             0              0           No
43396   5450  Female  56.0             0              0          Yes
43397  28375  Female  82.0             1              0          Yes
43398  27973    Male  40.0             0              0          Yes
43399  36271  Female  82.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0          children          Rural              95.12  18.0              NaN
1           Private          Urban              87.96  39.2     never smoked
2           Private          Urban             110.89  17.6              NaN
3           Private          Rural              69.04  35.9  formerly smoked
4      Never_worked          Rural             161.28  19.1              NaN
...             ...            ...                ...   ...              ...
43395      children          Urban              58.64  20.4     never smoked
43396      Govt_job          Urban             213.61  55.4  formerly smoked
43397       Private          Urban              91.94  28.9  formerly smoked
43398       Private          Urban              99.16  33.2     never smoked
43399       Private          Urban              79.48  20.6     never smoked

       stroke
0           0
1           0
2           0
3           0
4           0
...       ...
43395       0
43396       0
43397       0
43398       0
43399       0

[43400 rows x 12 columns]

In [5]:
import warnings # Added to suppress warnings
warnings.filterwarnings("ignore")

In [6]:
# Using the stroke dataframe, you have to write commands for Q 1-10.
# Each command is worth 3 marks [ In total 30 marks].

In [7]:
#1. Show the data type for each of the columns in stroke dataframe.

In [8]:
stroke.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [9]:
#2. Convert the hypertension column dtype to string then show the type for each of the columns.

In [10]:
stroke['hypertension'] = stroke['hypertension'].astype(str)
stroke.dtypes

id                     int64
gender                object
age                  float64
hypertension          object
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [11]:
#3. Count the number of missing values for the column "age".

In [12]:
stroke['age'].isnull().sum()

np.int64(0)

In [13]:
#4. Replace the missing values under the age column with the mean age.

In [14]:
# NOTE from JCP: there are no missing values in the age column but if there were, the code would be:
stroke['age'].fillna(stroke['age'].mean(), inplace=True)
stroke['age'].isnull().sum()

np.int64(0)

In [15]:
#5. Use iloc and slice 'every other' column up to '5 inclusive' into a dataframe subset. Then show the first 5 obs of the dataframe subset.

In [16]:
q5_subset = stroke.iloc[:, 0:5:2]
q5_subset.head()

      id   age  heart_disease
0  30669   3.0              0
1  30468  58.0              0
2  16523   8.0              0
3  56543  70.0              0
4  46136  14.0              0

In [17]:
#6. Print the subset of bmi that are more than mean bmi value.

In [18]:
q6_subset = stroke[stroke['bmi'] > stroke['bmi'].mean()]
q6_subset

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
5,32257,Female,47.0,0,0,Yes,Private,Urban,210.95,50.1,NaN,0
8,15266,Female,32.0,0,0,Yes,Private,Rural,77.67,32.3,smokes,0
9,28674,Female,74.0,1,0,Yes,Self-employed,Urban,205.84,54.6,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43390,10096,Female,69.0,0,0,Yes,Self-employed,Urban,229.85,31.2,never smoked,0
43393,69344,Male,39.0,0,0,Yes,Private,Rural,132.22,31.6,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0

In [19]:
#7.  Show the average age for females only.

In [20]:
# Im Hoping it doesnt matter if i make it an Integer.
q7_ans = stroke.loc[stroke['gender'] == 'Female', 'age'].mean().astype(int)  # stroke[stroke['gender'] == 'Female']['age'].mean().astype(int)
print("The average age of female students is:", q7_ans)

The average age of female students is: 42

In [21]:
#8. Count the number of married records(records with ever_married ='yes').

In [22]:
q8_ans = stroke[stroke['ever_married'] == 'Yes'].shape[0] # len(stroke[stroke['ever_married'] == 'Yes'])
print("The number of married records is:", q8_ans)

The number of married records is: 27938

In [23]:
#9. Display the list of unique values for the column "work_type".

In [24]:
stroke['work_type'].unique()

array(['children', 'Private', 'Never_worked', 'Self-employed', 'Govt_job'],
      dtype=object)

In [25]:
#10. Show the quantile table for the numerical columns of stroke dataset using the quantile() function.

In [ ]:
# Convert gender, ever_married, work_type, Residence_type, smoking_status to numerical values
# converted_df = stroke.copy()
# for col in ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']:
#     numberOfUniqueValues = converted_df[col].nunique() - 1
#     mapper = {converted_df[col].unique()[i]: i for i in range(numberOfUniqueValues)}
#     converted_df[col] = converted_df[col].map(mapper)
numerical_columns = stroke.copy().select_dtypes(include=['int64', 'float64'])
q10_ans_a = numerical_columns.quantile()
q10_ans_b = numerical_columns.quantile([0.25, 0.5, 0.75])
print(q10_ans_a)
q10_ans_b

id                   36351.50
age                     44.00
heart_disease            0.00
avg_glucose_level       91.58
bmi                     27.70
stroke                   0.00
Name: 0.5, dtype: float64

            id   age  heart_disease  avg_glucose_level   bmi  stroke
0.25  18038.50  24.0            0.0              77.54  23.2     0.0
0.50  36351.50  44.0            0.0              91.58  27.7     0.0
0.75  54514.25  60.0            0.0             112.07  32.9     0.0

In [27]:
# Question 11- 15, each is worth 6 marks [ In total 30 marks]

In [28]:
#11. Add a new column called Smoker to the dataframe that takes the following values:
#           smoking_status= smokes  value=2
#           smoking_status= formerly smokes  value=1
#           in all the other cases value=0

In [29]:
def smoker(row):
    if row['smoking_status'] == 'smokes':
        return 2
    elif row['smoking_status'] in ['formerly smoked', 'formerly smokes']:
        return 1
    else:
        return 0
stroke['Smoker'] = stroke.apply(smoker, axis=1)
stroke

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,Smoker
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0,1
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0,1
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0,1
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0,0

In [30]:
#12. Define a function called "riskScore" that calculates a risk score based on whether the patient has hypertension, has heart disease and the bmi value.
#   The function accepts scalar parameters:hypertension,heat_disease and bmi.
#   The sum of hypertension and heart_disease contribute to the risk score. 
#   In addition, if bmi > 50, you should increment the risk score by 1.
#   The header of the function is given below:

In [31]:
def riskScore(hypertension, heart_disease, bmi):
    risk = hypertension + heart_disease
    risk += 1 if bmi > 50 else 0
    return risk

In [32]:
#13. Vectorize the function "riskScore" then call it with hypertension, heart_disease and bmi vectors of the stroke dataframe.
#    The return value should be assigned to a new column named risk_score in the stroke dataframe.
#    Print the first 5 values of "risk_score" column.

In [33]:
import numpy as np
stroke['hypertension'] = stroke['hypertension'].astype(int) # Convert to int because its dtype is object
q13_vector = np.vectorize(riskScore)
stroke['risk_score'] = q13_vector(stroke['hypertension'], stroke['heart_disease'], stroke['bmi'])
stroke['risk_score'].head()

0    0
1    1
2    0
3    0
4    0
Name: risk_score, dtype: int64

In [34]:
#14. Show the average, min and max age per residentce_type and Work_type. Use agg function and rename the columns as min age,
#    max age and avg age and also flatten the dataframe.

In [ ]:
stroke.groupby(['Residence_type', 'work_type'])['age'].agg(['min', 'max', 'mean']).rename(columns={'min': 'min age', 'max': 'max age', 'mean': 'avg age'}).reset_index()

  Residence_type      work_type  min age  max age    avg age
0          Rural       Govt_job    13.00     82.0  48.912307
1          Rural   Never_worked    13.00     31.0  16.916667
2          Rural        Private    13.00     82.0  44.976786
3          Rural  Self-employed     7.00     82.0  59.192799
4          Rural       children     0.08     16.0   6.809371
5          Urban       Govt_job    14.00     82.0  49.282098
6          Urban   Never_worked    13.00     64.0  18.516129
7          Urban        Private     8.00     82.0  45.052741
8          Urban  Self-employed    13.00     82.0  59.426097
9          Urban       children     0.08     16.0   6.588848

In [36]:
#15. Calculate a grouped zscore for avg_glucose_level value based on gender.  
#    Also calculate a non-grouped zscore for avg_glucose_level value. 
#   Show the first 5 obs of each series.

In [37]:
def zscore(series): # from scipy.stats import zscore
    return (series - series.mean()) / series.std() if series.std() != 0 else 0

In [38]:
q_15_groupedZscore = stroke.groupby('gender')['avg_glucose_level'].apply(zscore)
q_15_groupedZscore.head()

gender
Female  2    0.184665
        3   -0.820770
        5    2.588581
        6   -0.615359
        7    3.371307
Name: avg_glucose_level, dtype: float64

In [39]:
q_15_ungroupedZscore = zscore(stroke['avg_glucose_level'])
q_15_ungroupedZscore.head()

0   -0.217174
1   -0.383254
2    0.148620
3   -0.822113
4    1.317442
Name: avg_glucose_level, dtype: float64